{% extends 'base.html' %}

{% block title %}
Update product
{% endblock title %}


{% block content %}
    <div class="container">
      <form action="/products/update/{{product.id}}/" method="post">
        {% csrf_token %}
        <h1 style="text-align: center">Update Product</h1>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Product Name"
            name="name"
            value="{{ product.name }}"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Price</label>
          <input
            type="number"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Product Price"
            name="price"
            value="{{product.price}}"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Category</label
          >
          <select
            class="form-select"
            aria-label="Default select example"
            name="category"
          >
            <option value="el" {% if product.category == 'el' %} selected {% endif %}>Electronic</option>
            <option value="gr" {% if product.category == 'gr' %} selected {% endif %}>Grocerise</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Is Available</label
          >
          <input class="form-check-input" type="checkbox" name="is_available" {% if product.is_available %}checked {% endif%} />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Description</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            name="desc"
          >{{product.description}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>

    {% endblock content %}

    
    {% block content1 %}
    <h1>From Update</h1>
    {% endblock content1 %}
