body {
    background-color: rgb(222, 211, 211);
}

.my-mg {
    width: 100%;
    height: 150px;
}

#id_name {
    padding: 1rem;
}

.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}